@import "tailwindcss";

@theme {
    --color-background: #0a0a0a;
    --color-foreground: #fafafa;

    --color-card: #0a0a0a;
    --color-card-foreground: #fafafa;

    --color-popover: #0a0a0a;
    --color-popover-foreground: #fafafa;

    --color-primary: #fafafa;
    --color-primary-foreground: #171717;

    --color-secondary: #262626;
    --color-secondary-foreground: #fafafa;

    --color-muted: #262626;
    --color-muted-foreground: #a3a3a3;

    --color-accent: #262626;
    --color-accent-foreground: #fafafa;

    --color-destructive: #7f1d1d;
    --color-destructive-foreground: #fafafa;

    --color-border: #262626;
    --color-input: #262626;
    --color-ring: #d4d4d4;

    --radius-sm: 0.125rem;
    --radius-md: 0.375rem;
    --radius-lg: 0.5rem;
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}